/* Header */
.large-header {
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position:center;
	z-index: 1;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title{
		font-size: 3em;
	}
}